.photoTiles {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vw;
  font-size: 0;
}

.photoTiles img {
  padding: 0.4%;
  width: 100%;
  transition: .8s opacity;
}

.photoTiles:hover img {
  opacity: 0.5;
}
.photoTiles:hover img:hover {
  opacity: 1;
}

.tileLinks {
  width: 24%;
}

.image-gallery {
  width: 400px;
}

.carousel-control.right {
  background-image: none;
}

.carousel-control.left {
  background-image: none;
}
